{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}   

    {% block contents %}
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <hr>
                <h3>パスワードをリセットしますか？</h3>
                <p>
                    登録済みメールアドレスを入力してください。<br>
                    パスワードリセットのリンクから24時間以内にリセット手続きを行ってください。
                </p>
                <br>
                <form action="" method="POST" class="text-center">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="メールを受け取る" /><br>
                </form>
                <br>
                <a href="{% url 'movie:index' %}">Top Page</a>
                <hr>
            </div>
        </div>
    </div>
    {% endblock %}